version: '3.8'

services:
  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: keypouch
    ports:
      - "5435:5432"
    volumes:
      - ./app/init.sql:/docker-entrypoint-initdb.d/init.sql
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: ./backend
    ports:
      - "5001:5001"
    depends_on:
      - db
    environment:
      - PORT=5001
    volumes:
      - ./backend:/app
      - /app/node_modules

  web:
    build: ./web
    ports:
      - "3002:3000"
    volumes:
      - ./web:/app
      - /app/node_modules
    depends_on:
      - backend
    environment:
      - CHOKIDAR_USEPOLLING=true

volumes:
  postgres_data:
