services:
  db:
    image: postgres:15-alpine
    env_file:
      - .env
    ports:
      - "5435:5432"
    volumes:
      - ./app/init.sql:/docker-entrypoint-initdb.d/init.sql
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: ./backend
    ports:
      - "5001:5001"
    depends_on:
      - db
    env_file:
      - .env
    volumes:
      - ./backend:/app
      - /app/node_modules

  web:
    build: ./web
    ports:
      - "3002:3000"
    volumes:
      - ./web:/app
      - /app/node_modules
    depends_on:
      - backend
    env_file:
      - .env

volumes:
  postgres_data:
