apiVersion: apps/v1
kind: Deployment
metadata:
  name: keypouch-database
  namespace: keypouch
spec:
  replicas: 1
  selector:
    matchLabels:
      app: keypouch-database
  template:
    metadata:
      labels:
        app: keypouch-database
    spec:
      containers:
      - name: database
        image: postgres:latest
        ports:
        - containerPort: 5432
        env:
        - name: POSTGRES_USER
          value: postgres
        - name: POSTGRES_PASSWORD
          value: password
        - name: POSTGRES_DB
          value: mydb
        volumeMounts:
        - name: db-data
          mountPath: /var/lib/postgresql/data
        - name: init-db
          mountPath: /docker-entrypoint-initdb.d/init.sql
          subPath: init.sql
        resources:
          requests:
            cpu: 200m
            memory: 256Mi
          limits:
            cpu: 500m
            memory: 512Mi
      volumes:
      - name: db-data
        persistentVolumeClaim:
          claimName: keypouch-pvc
      - name: init-db
        configMap:
          name: keypouch-db-init-configmap
