apiVersion: apps/v1
kind: Deployment
metadata:
  name: keypouch-backend
  namespace: keypouch
spec:
  replicas: 1
  selector:
    matchLabels: &id001
      app: keypouch-backend
  template:
    metadata:
      labels: *id001
    spec:
      containers:
      - name: backend
        image: keypouch-backend:46770
        ports:
        - containerPort: 5001
        resources:
          requests:
            cpu: 100m
            memory: 128Mi
          limits:
            cpu: 500m
            memory: 512Mi
        livenessProbe:
          httpGet:
            path: /
            port: 5001
          initialDelaySeconds: 30
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /
            port: 5001
          initialDelaySeconds: 5
          periodSeconds: 5
        envFrom:
        - configMapRef:
            name: keypouch-configmap
        - secretRef:
            name: keypouch-secrets
