apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - 00-namespace.yaml
  - 01-secrets.yaml
  - 02-configmap.yaml
  - 03-postgres.yaml
  - 04-backend.yaml
  - 05-frontend.yaml
  - 06-ingress.yaml
